@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <p>
        Welcome
        <strong>@Html.GetCurrentUser().UserName</strong>
        to GToken Admin panel!
    </p>
</div>



