// Fonts Size ******************************************** //



body {
    font-family: 'Source Sans Pro';
}

$sml-upper: 0.875rem;
$med-upper: 1.25rem;
$lrg-upper: 2.25rem;

h1 {
    font-size: 3.5rem; //56px
}

h2 {
    font-size: 3rem; //48px
}

h3 {
    font-size: 2.25rem; //36px
}

h4 {
    font-size: 1.5rem; //24px
}

h5 {
    font-size: 1.25rem; //20px
}

h6 {
    font-size: 1rem; //16px
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro';
}

//Typography Style Mixins ******************************************** //

a {
    text-decoration: none;
}

p {
    font-family: 'Source Sans Pro';
    font-size: 1.125rem;
    line-height: 1.4375rem;
}

@mixin upper-font($upper-font-weight, $upper-font-size, $upper-font-color) {
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-weight: $upper-font-weight;
    font-size: $upper-font-size;
    color: $upper-font-color;
}

@mixin h4-pri($font-color, $font-weight) {
    font-family: 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: $font-weight;
    color: $font-color;
}

@mixin subheader($font-color, $font-weight, $font-size) {
    font-family: 'Source Sans Pro';
    font-size: $font-size;
    font-weight: $font-weight;
    color: $font-color;
}
