/*deal page*/

.deals {
    label {
        color: #666;
    }

    padding: 0px;

    h4 {
        color: #f4c916;
    }

    .deal-header {
        background-color: #f4c916;

        h4 {
            color: #fff;
        }
    }

    .deal-camp {
        margin-top: 5%;
        margin-bottom: 3%;

        .game-thumb {
            border-radius: 20px;
            width: 200px;
            height: 228px;
            display: inline-block;
            vertical-align: top;
        }
    }

    hr {
        border-top: 2px dotted #9a9a9a !important;
    }

    span {
        display: block;
    }

    .money {
        font-size: 21.5px;
        color: #15bff4;
        line-height: 1;
    }
}

.deal-camp .imagediv {
    border: 1px solid #cacaca;
    border-radius: 20px;
    width: 200px;
}

.deal-camp .outer {
    position: absolute;
    top: 1px;
    height: 140px;
    width: 140px;
    border-top-left-radius: 18px;
    z-index: 3;
    overflow: hidden;
    margin-left: 0px;
}

.outer .bg {
    width: 0;
    height: 0;
    border-top: 140px solid #fff;
    border-right: 140px solid transparent;
    position: absolute;
    z-index: 1;
}

.outer .inner {
    width: 100%;
    height: 100%;
    background: url("/static/images/refferal/commingsoon.png") no-repeat;
    position: absolute;
    z-index: 2;
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
}

.deal-camp {
    .game-appicon {
        display: none;
    }
}

@media only screen and (max-width: 680px) {
    .deal-camp {
        .game-appicon {
            display: inline-block;
            vertical-align: top;
            width: 64px;
            height: 64px;
            border-radius: 10px;
        }

        .game-title {
            display: inline-block;
            width: 74%;
            margin-top: 0px;
        }

        .game-thumb, .imagediv {
            display: none !important;
        }
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 800px) {
    .deal-camp .imagediv {
        width: auto;
    }
}
