
<link rel="stylesheet" type="text/css" href="~/bower_components/slick.js/slick/slick.css" />
<link rel="stylesheet" href="~/static/stylesheets/home.css" />

<div ng-controller="HomeCtrl" id="popupWindow" ng-init="init()" class="popuphide">
    <div>
        <a ng-click="closePopup()"><img src="~/static/images/close-button.png"></a>
        <div stype="background-color:red;">From March 17th 2015, when registering with a referral code, user will receive 10&#37; discount on all GoPlay Token purchase. User needs to make first purchase within 30 days after the referral code was entered to make this discount permanent. Existing users with referral code are granted the discount automatically.</div>
    </div>
</div>

<div class="hero-container">
    <div class="row">
        <div class="large-12 columns hero-content-wrap">
            <h1 class="wow slideInRight animated">A better way</h1>
            <h2 class="wow slideInLeft animated">to enhance your gaming experience</h2>
            <h4 class="wow fadeInDown animated" data-wow-delay="0.4s">Introducing GToken</h4>
            <div class="video-intro wow fadeInDown animated" data-wow-delay="0.6s">
                <a href="#" data-reveal-id="myModal" class="wow fadeInUp animated" data-wow-delay="1.4s">
                    <img class="wow bounceInDown animated" data-wow-delay="1s" src="~/static/images/coin-video.png" alt="">
                </a>
                <div id="myModal" class="reveal-modal medium hero-video-wrap" data-reveal>
                    <div class="flex-video hero-vid">
                        <iframe width="420" height="315" src="//www.youtube.com/embed/IajE16OnrMY" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <a class="close-reveal-modal vid-close"></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="gameshow-container">
    <div class="row">
        <div class="scroll-down">&nbsp;</div>
        <div class="large-12 columns gameshow-content-wrap">
            <h3>Awesome games supported</h3>
            <h5>Discover fun, unique and innovative games from up-and-coming developers!</h5>
            <div class="star-container wow bounceInUp animated">
                <div class="star-rating">
                    <div class="current-rating"></div>
                </div>
            </div>
            <div class="wow fadeIn animated" id="feature-games-slider">
                @*{% for game in games %}
                    <div class="game-slide">
                        <a href="{{ url_for("game.detail", param=game.generateParam()) }}">
                            <img src="{{ game.banner_filename }}" alt="{{ game.name }}">
                        </a>
                    </div>
                    {% endfor %}*@
            </div>
        </div>
    </div>
</div>

<div class="feature-container">
    <div class="row">
        <div class="large-12 columns feature-title-wrap">
            <h3>Why choose GToken ?</h3>
            <h5>Simply because...</h5>
        </div>
    </div>
    <div class="row feature-content-wrap">
        <div class="medium-4 large-4 columns feature-item">
            <img src="~/static/images/featitem-convert.png" alt="">
            <div class="animated-pic convert wow fadeInLeft animated" data-wow-delay="0.2s">
                <div class="c1-anmt"></div>
                <div class="c2-anmt"></div>
                <div class="c3-anmt"></div>
                <div class="c4-anmt"></div>
                <div class="c5-anmt"></div>
            </div>
            <h5 class="wow fadeIn animated">Get more with GToken</h5>
            <p class="wow fadeInUp animated">Get special deals, best price for in-game items and exclusive content only available to our GToken members.</p>
        </div>
        <div class="medium-4 large-4 columns feature-item">
            <img src="~/static/images/featitem-wallet.png" alt="">
            <div class="animated-pic wallet wow fadeInUp animated" data-wow-delay="0.2s">
                <div class="w1-anmt"></div>
                <div class="w2-anmt"></div>
                <div class="w3-anmt"></div>
                <div class="w4-anmt"></div>
                <div class="w5-anmt"></div>
                <div class="w6-anmt"></div>
                <div class="w7-anmt"></div>
                <div class="w8-anmt"></div>
                <div class="w9-anmt"></div>
                <div class="w10-anmt"></div>
            </div>
            <h5 class="wow fadeIn animated">It’s transferable</h5>
            <p class="wow fadeInUp animated">Share GoPlay Token with your friends and loved ones, and empower them with the freedom to upgrade whichever games they like to play ♥</p>
        </div>
        <div class="medium-4 large-4 columns feature-item">
            <img src="~/static/images/featitem-support.png" alt="">
            <div class="animated-pic support wow fadeInRight animated" data-wow-delay="0.2s">
                <div class="s1-anmt"></div>
                <div class="s2-anmt"></div>
                <div class="s3-anmt"></div>
                <div class="s4-anmt"></div>
            </div>
            <h5 class="wow fadeIn animated">Stay supported</h5>
            <p class="wow fadeInUp animated">Dedicated staffs to provide assistance. Need technical support or a friend to play with? We are here for you!</p>
        </div>
    </div>
</div>

@Html.Partial("Includes/bottom_call_to_action_register")

@section scripts{
    <script type="text/javascript" src="../bower_components/slick.js/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#feature-games-slider').slick({
            //    dots: true,
            //    infinite: true,
            //    speed: 300,
            //    slidesToShow: 1,
            //    autoplay: true,
            //    autoplaySpeed: 10000,
            //    pauseOnHover: true
            //});
        });
    </script>
}
