@import "settings";
@import "foundation";
@import "partials/base";


body {
}

h4 {
}

#profile-image {
    text-align: center;
    position: relative;
}

#profile-image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    background: url('/static/images/half_circle_up_white.png') repeat-x;
    height: 10px;
}

.star::before {
    content: url('/static/images/star.png');
    padding-right: 2px;
}

.profile {
    h4, .rounded {
        text-align: center;
        font-size: 45px;
    }

    p {
        font-family: 'NoteraPersonalUseOnly-Regular';
        font-size: 3.125em;
        text-align: center;
        padding-top: 10px;
    }

    .profile-icon {
        margin: auto;
        text-align: center;
    }

    input[id="save"] {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.875rem;
        color: #fff;
        padding: 7px 12px 7px 12px;
        font-size: 0.875rem;
        font-family: "Gotham";
        text-transform: uppercase;
        border: none;
        border-radius: 40px;
        background: #ef3f23;
        margin: 0 auto;
        width: 250px;
        height: 43px;
        transition: all 0.25s ease;
        moz-transition: all 0.25s ease;
        cursor: pointer;
        font-size: 18px;
        font-family: $font-helvetica-neue;
    }

    #edit-profile {
        margin: 0 auto;
    }

    div.label-edit > label {
        font-size: 21px !important;
        color: #474747;
        margin-bottom: 10px;
    }

    .link-change-password {
        color: #e74c3c;
        font-size: 20px;
        font-style: italic;
    }

    label > span {
        font-weight: 300;
        font-style: italic;
        font-size: 18px;
    }

    .input-edit {
        height: 65px;
        background-color: #bbb5af;
        width: 100%;
        margin-bottom: 10px;
        color: #fff;

        &:hover, &:focus {
            background-color: #bbb6af;
        }
    }
}


/*@media only screen and (max-width: 660px) {
    .profile {
        .profile-detail {
            table {
                width: 100% !important;
            }
        }
    }
}*/

.field-validation-error {
    color: $pri-red;
    text-align: left;
    display: block;
}

.header-image {
    background: url("/static/images/gdine-circle.png") no-repeat;
    background-size: 100% 100%;
    width: 293px;
    height: 293px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 25px;
}

.rounded {
    background: url("/static/images/rounded-rectangle.png") repeat;
    background-size: 100% 100%;
    width: 450px;
    height: 14px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media only screen and (max-width: 480px) {
    .profile {
        h4, .rounded {
            text-align: center;
            font-size: 22px;
        }

        .link-change-password {
            color: #e74c3c;
            font-size: 15px;
            font-style: italic;
        }

        div.label-edit > label {
            font-size: 21px !important;
            color: #474747;
            margin-bottom: 10px;
        }


        .input-edit {
            height: 50px;
            background-color: #bbb5af;
            width: 100%;
            margin-bottom: 10px;
        }

        input[id="save"] {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.875rem;
            color: #fff;
            padding: 7px 12px 7px 12px;
            font-size: 0.875rem;
            font-family: "Gotham";
            text-transform: uppercase;
            border: none;
            border-radius: 40px;
            background: #ef3f23;
            margin: 0 auto;
            width: 150px;
            height: 40px;
            transition: all 0.25s ease;
            moz-transition: all 0.25s ease;
            cursor: pointer;
            font-size: 10px;
        }
    }



    .header-image {
        background: url("/static/images/gdine-circle.png") no-repeat;
        background-size: 100% 100%;
        width: 146.5px;
        height: 146.5px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .rounded {
        background: url("/static/images/rounded-rectangle.png") no-repeat;
        background-size: 100% 100%;
        width: 225px;
        height: 7px;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}



@media only screen and (max-width: 320px) {
    .profile {
        h4, .rounded {
            text-align: center;
            font-size: 22px;
        }

        .link-change-password {
            color: #e74c3c;
            font-size: 15px;
            font-style: italic;
        }

        div.label-edit > label {
            font-size: 21px !important;
            color: #474747;
            margin-bottom: 10px;
        }


        .input-edit {
            height: 50px;
            background-color: #bbb5af;
            width: 100%;
            margin-bottom: 10px;
        }

        input[id="save"] {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.875rem;
            color: #fff;
            padding: 7px 12px 7px 12px;
            font-size: 0.875rem;
            font-family: "Gotham";
            text-transform: uppercase;
            border: none;
            border-radius: 40px;
            background: #ef3f23;
            margin: 0 auto;
            width: 150px;
            height: 40px;
            transition: all 0.25s ease;
            moz-transition: all 0.25s ease;
            cursor: pointer;
            font-size: 10px;
        }
    }

    .header-image {
        background: url("/static/images/gdine-circle.png") no-repeat;
        background-size: 100% 100%;
        width: 146.5px;
        height: 146.5px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .rounded {
        background: url("/static/images/rounded-rectangle.png") no-repeat;
        background-size: 100% 100%;
        width: 225px;
        height: 7px;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}
