$pri-yellow: #F2C737;
$pri-red: #EF3333;
$pri-blue: #518DB8;
$pri-green: #549B4E;
$pri-grey: #B7B7B7;
$sub-grey: #676767;
$sub-light-grey: #8C8C8C;
$dark-grey: #363636;
$light-grey: #323338;
$panel-grey: #24252A;
$light-panel: #D8D8D8;
$panel-dark: #17181B;