@import "settings";
@import "foundation";
@import "partials/base";

// Register Style

body {
    background: url(/static/images/diamond-texture.png) repeat $sub-darkblue;
    label:not(.check-label) {
        display: none;
    }
}

.top-logo {
    width: 240px;
    height: 60px;
    text-align: center;
    display: block;
    margin: 80px auto 50px;
}

.forms-container {
    text-align: center;
    width: 440px;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    padding: 30px 0 54px;
    br {
        display: none;
    }
    h4 {
        @include h4-pri($pri-grey, 300);
        margin-bottom: 4px;
        img {
            position: relative;
            top: -2px;
        }
    }
    .subheader {
        @include subheader($pri-lightgrey, 400, 0.875rem);
        padding:0 0.875rem;
    }
    input.sml-forms {
        @include sml-forms;
        width: 72%;
        margin: 0 auto 14px;
        font-family: 'Ubuntu';
        text-indent: 6px;
        color: $pri-grey;
        &:focus {
            background-color: $sub-lightgrey;
        }
        &::-webkit-input-placeholder, {
            @include upper-font(400, 0.875rem, $pri-lightgrey);
            text-indent: 6px;
            line-height: 18px;
        }
        &::-moz-placeholder {
            @include upper-font(400, 0.875rem, $pri-lightgrey);
            text-indent: 6px;
            line-height: 18px;
        }
        &:-moz-placeholder {
            @include upper-font(400, 0.875rem, $pri-lightgrey);
            text-indent: 6px;
            line-height: 18px;
        }
        &:-ms-input-placeholder {
            @include upper-font(400, 0.875rem, $pri-lightgrey);
            text-indent: 6px;
            line-height: 18px;
        }
    }

    input.sml-forms.username {
        margin-top: 30px;
    }

    .break-line {
        width: 72%;
        height: 1px;
        display: block;
        margin: 10px auto 10px;
        border-bottom: 1px solid $sub-grey;
    }

    input[type="submit"] {
        @include upper-font(400, 0.875rem, $pri-green);
        @include sml-primary-btn($pri-green);
        border-radius: 40px;
        background: none;
        display: block;
        margin: 0 auto;
        width: 72%;
        transition: all 0.25s ease;
        moz-transition: all 0.25s ease;
        cursor: pointer;
        &:hover {
            background-color: $pri-green;
            color: white;
        }
    }

    a.fb-login {
        @include upper-font(400, 0.875rem, white);
        @include sml-primary-btn(#3b5998);
        padding: 3px 12px 3px 12px;
        transition: all 0.25s ease;
        moz-transition: all 0.25s ease;
        display: block;
        margin: 0 auto;
        border-radius: 40px;
        width: 72%;
        margin-top: 12px;
        background: url(/static/images/facebook.png) no-repeat 20px center #3b5998;
        &:hover {
            background-color: darken(#3b5998, 6%);
            border-color: darken(#3b5998, 6%);
        }
    }

    h6 {
        color: $pri-grey;
        font-size: 0.875em;
        margin: 10px auto 14px;
        &:before,
        &:after {
            content:"";
            display: inline-block;
            width: 40px;
            height: 1px;
            border-top: 1px dashed $sub-grey;
            vertical-align: middle;
            margin: 0 10px;
        }
    }

    .check-box {
        opacity: 0;
        float: left;
        width: 18px;
    }

    .check-box + label {
        clear: none;
        /* Left padding makes room for image */
        padding: 5px 0 4px 24px;
        /* Make look clickable because they are */
        cursor: pointer;
        background: url(/static/images/checkbox.png) left center no-repeat;
    }

    .check-box:checked + label {
        background: url(/static/images/checkbox-checked.png) left center no-repeat;
    }
    .check-label {
        margin-top: 4px;
        margin-bottom: 14px;
    }
}

.angucomplete-dropdown {
    border: 2px solid $sub-grey;
    margin: 5px auto 3px;
    text-align: left;
    width: 72%;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    border-radius: 5px;
    max-height: 220px;
    overflow-y: scroll;
    .angucomplete-searching {
        color: $pri-grey;
        font-size: $sml-upper;
        font-weight: bold;
    }
    .angucomplete-selected-row,
    .angucomplete-row:hover {
        background-color: $pri-blue;
    }
    .angucomplete-selected-row {
        overflow: ellipsis;
    }
    .angucomplete-image-holder {
        padding-top: 3px;
        border: none;
        img {
            border-radius: 3px;
            border: none;
        }
    }
    .angucomplete-image {
        height: 40px;
        width: 40px;
    }
    .angucomplete-title,
    .angucomplete-description {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .angucomplete-description {
        margin-top: -4px;
        color: $pri-grey;
    }
}

#accounts_signup {
    margin-top: 30px;
}

@-moz-document url-prefix() {

    .forms-container {
        input.sml-forms {
            padding: 4px 0px 5px !important;
            text-indent: 12px; 
            &::-webkit-input-placeholder, {
                line-height: 21px;
            }
            &::-moz-placeholder  {
                line-height: 21px;
            }
            &:-moz-placeholder  {
                line-height: 21px;
            }
            &:-ms-input-placeholder{
                line-height: 21px;
            }
        }
        input[type="submit"] {
            padding: 4px 12px 6px;
        }
    }

}

.bottom-link {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 20px;
    h5 {
        @include subheader($sub-lightblue, 400, 1.125rem);
        a {
            @include subheader($sub-lightblue, 400, 1.125rem);
            text-decoration: underline;
        }
    }
}

.forms-set {
    padding: 1px 0;
    width: inherit;

    .errors-container {
        position: relative;
        ul.errors {
            margin: 0 auto;
            display: none;
            color: $pri-red;
            list-style-type: none;
            position: relative;
            text-align: left;
            width: 72%;
        }
    }

    .field-with-errors {
        &.sml-forms {
            margin-bottom: 0px;
        }
        & + .errors-container {
            ul.errors {
                display: block;
                padding: 8px 12px 8px 12px;
            }
        }
    }

    .field-valid {
        &.sml-forms {
            background: #F9F9F9 url(/static/images/form-checked.png) 96% center no-repeat;
        }
    }

    #submit.disabled {
        opacity: 0.4;
        cursor: default;

        &:hover {
            background-color: white;
            color: $pri-green;
        }
    }

    #submit.valid {
        background-color: $pri-green;
        color: white;
    }
}

// Login Style

.forms-container.login {
    h4 {
        margin-bottom: 42px;
    }
    .break-line {
        margin: 15px auto 20px;
    }
    #username.field-with-errors {
        margin-bottom: 14px;
    }
    .errors-container ul.errors {
        padding-right: 0;
    }
}

.rem-forg {
    width: 72%;
    margin: 0 auto;
    .check-box.login + label {
        padding: 5px 0 4px 22px;
        margin: 0;
        position: relative;
        right: 16px;
        float: left;
    }
    .check-box.login:checked + label {
        background: url(/static/images/checkbox-checked.png) left center no-repeat;
    }
    .forgot-pwd {
        float: right;
        @include subheader($pri-grey, 400, 0.875rem);
        padding-top: 3px;
    }
}

// Change password style

#account-change-password {
    input.sml-forms#oldPassword {
        margin-top: 30px;
    }
    .errors-container + .break-line {
        margin-top: 7px;
    }
}

// Change email style

#account-change-email {
    margin-top: 30px;
}

#account-change-password,
#account-change-email {
    .break-line {
        margin-bottom: 20px;
        margin-top: 20px;
    } 
}

// Media queries

@media #{$small-only} {

    .forms-container {
        width: 100%;
        input.sml-forms,
        input[type="submit"],
        .break-line {
            width: 84%;
        }
    }
    .forms-set {
        width: inherit;
        .errors-container {
            ul.errors {
                padding: 8px 0;
                width: 84%;
                li {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    .rem-forg {
        width: 84%;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px),
only screen and (-webkit-min-device-pixel-ratio: 3)      and (min-width: 360px),
only screen and (   min--moz-device-pixel-ratio: 3)      and (min-width: 360px),
only screen and (     -o-min-device-pixel-ratio: 3/1)    and (min-width: 360px),
only screen and (        min-device-pixel-ratio: 3)      and (min-width: 360px) {

    .bottom-link.login {
        h5 a {
            display: block;
        }
    }

}
