.progress-indict {
    height: 200px;
}

@media only screen and (max-width: 30em) {

    .welcome-board {
        .user-todo-list {
            li {
                display: inline;
                padding: 1% 3%;
            }
        }
    }

}

@media only screen and (max-width: 30em) {


}

@media only screen and (max-width: 24em) {

    section.profile-info,
    section.profile-settings {
        ul {
            li {
                span {
                    width: 68%;
                }
            }
        }
    }

    .top-up-opts {
        ul li {
            a {
                max-width: 90px;
            }
        }
    }
    .search-board form #transfer-submit {
        padding: 7px 29px;
    }
    .exchange-submit {
        padding: 7px 20px;
    }

}


