<div class="panel-popup hide">
  <form>
    <p>@Resources.Resources.Please_input_your_GoPlay_password_to_convert</p>
      <input value="" required="required" placeholder="@Resources.Resources.INPUT_PASSWORD"
             ng-model="password"
             name="password" id="password
             class="sml-forms user-password ng-pristine ng-untouched ng-invalid ng-invalid-required">
      <input id="submit" name="submit" class="g-nml-button" type="submit" value="@Resources.Resources.Submit"
             ng-click="submitConvert()">
  </form>
</div>
<div class="panel-filter hide">
</div>
