
<div class="progress-indict hide">
    <img class="loading-icon" src="/static/images/loading_icon.png" alt="">
    <p>@Resources.Resources.Hang_on_Our_server_is_crunching_your_order</p>
</div>
<div class="notification-panel hide">
    <img src="/static/images/check_icon.png">
    <p id="messageArea"></p>
    <a class="close-notification nml-button" href="">@Resources.Resources.Close</a>
</div>
<div class="panel-filter hide">
</div>