@{
    ViewBag.Title = "GToken " + Resources.Resources.Clubs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-section">
    <div class="content row">
        <div class="columns medium-8 medium-centered">
            <div class="panel">
                <div class="orbit-container">
                    <ul data-orbit>
                        <li class="active" data-orbit-slide="slide-1">
                            <img src="/static/images/club-imgs/club-1.jpg" alt="slide 1" />
                            <div class="orbit-caption">
                                Caption One.
                            </div>
                        </li>
                        <li data-orbit-slide="slide-2">
                            <img src="/static/images/club-imgs/club-2.jpg" alt="slide 2" />
                            <div class="orbit-caption">
                                Caption Two.
                            </div>
                        </li>
                        <li data-orbit-slide="slide-3">
                            <img src="/static/images/club-imgs/club-3.jpg" alt="slide 3" />
                            <div class="orbit-caption">
                                Caption Three.
                            </div>
                        </li>
                        <li data-orbit-slide="slide-4">
                            <img src="/static/images/club-imgs/club-4.jpg" alt="slide 4" />
                            <div class="orbit-caption">
                                Caption Three.
                            </div>
                        </li>
                        <li data-orbit-slide="slide-5">
                            <img src="/static/images/club-imgs/club-5.jpg" alt="slide 5" />
                            <div class="orbit-caption">
                                Caption Three.
                            </div>
                        </li>
                        <li data-orbit-slide="slide-6">
                            <img src="/static/images/club-imgs/club-6.jpg" alt="slide 6" />
                            <div class="orbit-caption">
                                Caption Three.
                            </div>
                        </li>
                    </ul>

                    <div class="orbit-control">

                        <a class="orbit-nav prev">&lt;</a>
                        <ol class="orbit-bullets">
                            <li data-orbit-link="slide-1"></li>
                            <li data-orbit-link="slide-2"></li>
                            <li data-orbit-link="slide-3"></li>
                            <li data-orbit-link="slide-4"></li>
                            <li data-orbit-link="slide-5"></li>
                            <li data-orbit-link="slide-6"></li>
                        </ol>
                        <a class="orbit-nav next">&gt;</a>
                    </div>
                </div>

                <p>GToken believes that gaming is about connecting people and having fun, so we've committed ourselves to build lifestyle clubs all over SEA that are free to use for our members and friends, where people can hang out with like-minded people, connect to high-speed internet wifi, enjoy free refreshments while playing games and chilling out in a conducive environment</p>
                <hr class="small">
                <p>Come and hangout with us!</p>
                <p>
                    Singapore:
                    <br /><a href="https://www.google.com/maps/place/Gtoken+Singapore/@("@")1.307572,103.881319,17z/data=!3m1!4b1!4m2!3m1!1s0x31da18478a72dc83:0xb7e2f93919d39c6b" target="_blank">229 Mountbatten Road Mountbatten Square #01-08/09/10 Singapore 398007</a>
                </p>
                <p>
                    Malaysia:
                    <br /><a href="https://www.google.com/maps/place/Bangsar+South/@("@")3.111328,101.667781,17z/data=!3m1!4b1!4m2!3m1!1s0x31cc4a2a3ef62df3:0x78486c8bb96a5ae8" target="_blank">
    The Horizon, Bangsar South. No 8, Jalan Kerinchi, Level 6 Tower 9
    Avenue 5, 59200 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia
</a>
                </p>
            </div>

        </div>


    </div>
</section>

