@{
    ViewBag.Title = Resources.Resources.News;
}

@section page_stylesheets{
    <link rel="stylesheet" href="/static/stylesheets/static_pages.css" />
}

<section class="main-section">
    <div class="content row">
        <div class="columns medium-8 medium-centered">
            <div class="panel">
                <h1>GToken and IAH partnership brings users big advantages</h1>

                <div class="orbit-container">
                    <ul data-orbit>
                        <li class="active" data-orbit-slide="slide-1">
                            <img src="/static/images/news-imgs/news1.jpg" alt="slide 1" />
                            <div class="orbit-caption">
                                Caption One.
                            </div>
                        </li>
                        <li data-orbit-slide="slide-2">
                            <img src="/static/images/news-imgs/news2.jpg" alt="slide 2" />
                            <div class="orbit-caption">
                                Caption Two.
                            </div>
                        </li>
                        <li data-orbit-slide="slide-3">
                            <img src="/static/images/news-imgs/news3.jpg" alt="slide 3" />
                            <div class="orbit-caption">
                                Caption Three.
                            </div>
                        </li>
                    </ul>

                    <div class="orbit-control">

                        <a class="orbit-nav prev">&lt;</a>
                        <ol class="orbit-bullets">
                            <li data-orbit-link="slide-1"></li>
                            <li data-orbit-link="slide-2"></li>
                            <li data-orbit-link="slide-3"></li>
                        </ol>
                        <a class="orbit-nav next">&gt;</a>
                    </div>
                </div>

                <p>GToken has officially partnered with IAH. All of our GToken members can use GToken to play online PC games, such as Counterstrike, Granado Espada 剑仙 and Blacklight Retribution (by Q4 2015). It is a small step towards the next big step.</p>

            </div>

        </div>


    </div>
</section>
