// Color Scheme ******************************************** //

$pri-yellow: #F4C916;
$pri-green: #66C85D;
$pri-blue: #199BE3;
$sub-darkblue: #20282A;
$sub-lightblue: #4C6E79;
$pri-grey: #5f5f5f;
$pri-lightgrey: #C2C2C2;
$sub-grey: #DEDEDE;
$sub-lightgrey: #f9f9f9;
$pri-red: #ef3f23;
$pri-orange: #FC9C41;
$pri-black: #000;
$pri-white: #fff;

// Background Style ******************************************** //

@mixin dark-primary-bg {
    background-color: $pri-black;
    opacity: .6;
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px #395359;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px #395359;
}

@mixin diamond-bg {
    background: url(/static/images/diamond-texture.png) repeat;
}

@mixin grey-bg {
    background: url(/static/images/grey-texture.png) repeat;
}

@mixin white-panel {
    background: #FFFFFF;
    border: 2px solid #DEDEDE;
}