// Forms Style ******************************************** //

@mixin sml-forms {
    background: #dedede;
    border: 2px solid #DEDEDE;
    height: 34px;
    box-shadow: none;
    color: #5f5f5f;
}

@mixin med-forms($border-color) {
    background: white;
    border: 2px solid $border-color;
    height: 46px;
    box-shadow: none;
    color: #5f5f5f;
    font-size: 1.125rem;
}

@-moz-document url-prefix() {

    table {
        border-bottom: 1px solid #dedede;
    }

    .forms-container input.sml-forms {
        padding: 0 !important;
    }
}


table {
    background: none !important;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;

    thead,
    tr {
        height: 60px;
        vertical-align: middle;
    }

    tr {
        th,
        td {
            font-size: 1.125rem;
            color: #5f5f5f;
            padding: 18px;
            line-height: 22px !important;
            /*word-break: break-all;*/
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;

            strong {
                color: #5f5f5f;
                font-weight: 600;
            }
        }
    }

    thead > tr:first-child {
        border-top: 2px solid #000;

        th,
        td {
            font-size: 1.125rem;
            font-weight: 600;
            color: #5f5f5f;
            padding: 18px;
        }
    }
    /*tr:nth-child(odd) {
        background: white;
    }
    tr:nth-child(even) {
        background: #f9f9f9;
    }*/
    tr {
        border-top: 2px solid #000;
    }

    tr:first-child {
        border-top: none;
    }

    tr.even, tr.alt, tr:nth-of-type(even) {
        background-color: none;
    }
}

@media only screen and (max-width: 40em) {


    table {
        thead,
        tr {
            height: 40px;
        }

        tr {
            th,
            td {
                font-size: 1rem;
                padding: 16px;
                line-height: 20px !important;
                /*word-break: break-all;*/
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                hyphens: auto;
            }
        }

        thead > tr:first-child {
            th,
            td {
                font-size: 1rem;
                padding: 16px;
            }
        }
    }
}
