<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="GoplayConnection" connectionString="Server=sdev1.cxtz6b3hctef.ap-southeast-1.rds.amazonaws.com;Port=5432;User Id=sdev1admin;Password=89esunis783snvkw9cms;Database=goplay_prod_db;" />
    <add name="GTokenConnection" connectionString="Server=sdev2.cxtz6b3hctef.ap-southeast-1.rds.amazonaws.com;Port=5432;User Id=sdev2admin;Password=89esunis783snvkw9cms;Database=gtoken_prod_db;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--GOLAY KEYS-->
    <add key="SECRET_KEY" value="0e151c1b-64ed-4806-8e27-62bae5cf0451" />
    <add key="GTOKEN_SERVICE_HOST" value="https://dev2.gtoken.com/service/api/1/" />
    <add key="GTOKEN_PARTNER_UID" value="7bb4797a-1cb9-43d8-a0e7-0e5ae1a2a295" />
    <add key="GTOKEN_PARTNER_SECRET_KEY" value="0f093c70" />
    <add key="PARTNER_CLIENT_ID" value="58bbc1a3-8e2f-438a-a852-feaa48c275c5" />

    <!--GOPLAY REVENUE-->
    <add key="REVENUE_PERCENTAGE" value="1" />

    <add key="CHAT_SERVER" value="chat-service-dev.gtoken.com/" />

    <!--UPLOAD FOLDERS-->
    <add key="GAME_PROGRESS_UPLOADS_DIR" value="~\\game_progresses\\" />
    <add key="UPLOADS_DIR" value="~\\uploads\\" />

    <!--END GENERAL CONFIG-->

    <!--PAYPAL-->
    <add key="PAYPAL_NV" value="NV" />
    <add key="PAYPAL_RESPONSE_DATA_FORMAT" value="JSON" />
    <add key="PAYPAL_PAYMENT_RETURN_URL" value="http://staging.gtoken.com/admin/paypal/payment-accept/" />
    <add key="PAYPAL_PAYMENT_CANCEL_URL" value="http://staging.gtoken.com/admin/paypal/payment-cancel/" />
    <add key="DEFAULT_PAYPAL_CURRENCY" value="USD" />
    <add key="PAYPAL_SENDER_EMAIL" value="quochuy298-facilitator_api1.gmail.com" />
    <add key="PAYPAL_PAY_KEY_DURATION" value="P30D" />
    <add key="PAYPAL_URL" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />


    <!--#USED FOR PREAPPROVAL KEY REQUEST-->
    <add key="PAYPAL_PAYMENT_URL" value="svcs.sandbox.paypal.com" />
    <add key="PAYPAL_CONFIRM_KEY_URL" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_ap-preapproval&amp;preapprovalkey=" />
    <add key="PAYPAL_CONFIRM_RETURN_URL" value="http://localhost:80/admin/paypal/confirm/" />
    <add key="PAYPAL_CONFIRM_CANCEL_URL" value="http://localhost:80/admin/paypal/" />
    <!--END PAYPAL-->


    <!--RESET PASSWORD >> OPEN Gtoken reset p-->
    <add key="RESET_PASSWORD_URL" value="http://52.76.58.43/account/reset-password" />
    <!--END RESET PASSWORD-->

    <!--TODO: change go playtoken when posible-->
    <!--Email setting-->
    <add key="GOPLAY_ADMIN_EMAIL_SENDER" value="admin@goplay.la" />
    <add key="GOPLAY_ADMIN_EMAIL_NAME" value="PlayToken Admin" />
    <add key="GOPLAY_WELCOME_EMAIL_SENDER" value="welcome@goplay.la" />
    <add key="GOPLAY_WELCOME_EMAIL_NAME" value="PlayToken - Welcome" />
    <add key="CUSTOMER_SUPPORT_EMAIL_SENDER" value="support@goplay.la" />
    <add key="CUSTOMER_SUPPORT_EMAIL_NAME" value="PlayToken Customer Support" />
    <!---->

    <!--EXTERNAL SOCIAL NETWORK-->
    <add key="LINK_TO_FACEBOOK_GO_PLAY" value="http://www.facebook.com/GoPlayla.Page" />
    <add key="LINK_TO_TWITTER_GO_PLAY" value="http://twitter.com/GoPlayla" />
    <add key="CUSTOMER_SUPPORT_EMAIL_SENDER_TEST" value="quochuy298@gmail.com" />
    <add key="ADMINS" value="quochuy298@gmail.com" />
    <add key="FACEBOOK_APPID" value="813471555367282" />
    <add key="FACEBOOK_APPSECRET" value="d3054ce590b823beb29c8d71a1891b01" />
    <!--End EXTERNAL SOCIAL NETWORK-->

    <!--HOME PAGE-->
    <add key="LIMIT_COMING_GAME" value="3" />
    <add key="LIMIT_FEATURE_GAME" value="5" />
    <add key="POPULAR_GAMES" value="42, 33, 20, 31, 55, 49" />
    <!--SPECIAL GAMES THAT HAVE APK FILE-->
    <add key="APK_GAMES" value="21, 24" />
    <!--END HOME PAGE-->

    <!--Date format-->
    <add key="BABEL_DATE_READABLE_FORMAT" value="MMM d, yyyy" />
    <add key="BABEL_DATETIME_READABLE_FORMAT" value="hh:mmtt, dd MMM" />
    <add key="DATETIMEFORMAT" value="yyyy-MM-dd HH:mm" />
    <add key="FULLDATETIMEFORMAT" value="yyyy-MM-dd HH:mm:ss zzz" />

    <!--UPoint-->
    <add key="UPOINT_SECRET_TOKEN" value="FIXME" />
    <add key="UPOINT_BALANCE_DEDUCTION_ENDPOINT" value="FIXME" />
    <add key="UPOINT_SPEEDY_ENDPOINT" value="https://upoint.co.id/api_speedy/chargeSpeedy" />
    <add key="UPOINT_TMONEY_ENDPOINT" value="https://upoint.co.id/api_delima/chargeDelima" />
    <add key="UPOINT_TELKOMSEL_VOUCHER_TICKET_ENDPOINT" value="https://upoint.co.id/Api_Telkomsel_Voucher/ticket" />
    <add key="UPOINT_TELKOMSEL_VOUCHER_SUBMIT_ENDPOINT" value="https://upoint.co.id/Api_Telkomsel_Voucher/submit" />
    <add key="UPOINT_STANDARD_VOUCHER_ENDPOINT_SPIN" value="https://upoint.co.id/api_spin/consume" />
    <add key="UPOINT_STANDARD_VOUCHER_ENDPOINT_TELKOM" value="https://upoint.co.id/api/vouchertelkom" />
    <add key="UPOINT_DEBUG" value="True" />
    <add key="IDR_PER_GTOKEN_RATE" value="12500" />
    <!--END UPoint-->

    <!--FRIEND-->
    <add key="MAXIMUM_NUMBER_SHOWN_IN_FRIEND_INDEX" value="48" />
    <add key="PAGE_SIZE_IN_FIND_FRIEND" value="24" />
    <add key="DEFAULT_OFFSET_IN_FIND_FRIEND" value="0" />
    <add key="DEFAULT_PAGE_SIZE_IN_QUICK_FIND_FRIEND" value="6" />
    <!--END FRIEND-->

    <!--AVATAR DEFAULT-->
    <add key="DEFAULT_CREDIT_TYPE_GEM_ICON_URL" value="/static/images/exchange-gem.png" />
    <add key="DEFAULT_CREDIT_TYPE_GOLD_ICON_URL" value="/static/images/exchange-gold.png" />

    <!--REGEX PATTERN-->
    <add key="PATTERN_URL" value="@^(https?|ftp)://[^\s/$.?#].[^\s]*$@iS" />

    <!--ACCOUNT MANAGERS FOR ADMIN >> USER-->
    <add key="ACCOUNT_MANAGERS" value="Team 0, Team 1, Team 2" />

    <!--# Exchange EndPoints-->
    <add key="SUZY_ENDPOINT" value="http://playfurygameserver1easia.cloudapp.net/SuzyService.asmx?wsdl" />
    <add key="MINE_MANIA_ENDPOINT" value="http://playfuryservereasia.cloudapp.net/MMWS.asmx?wsdl"></add>
    <add key="SLAMDUNK_ENDPOINT" value="http://54.255.201.23/phpcgi/account.php" />
    <add key="SLAMDUNK_KEY" value="d7828e994960a66b4a47be20968e3942" />

    <!--USED IN GAME PAGE-->
    <add key="GAME_PER_PAGE" value="12" />

    <add key="GOPLAY_DIRECTORY_NAME" value="GoPlay" />
    <!--# Transaction History-->
    <add key="PAGESIZE_TRANSACTION_HISTORY" value="10" />

    <!--# Package-->
    <add key="DEFAULT_PACKAGE_ICON_URL" value="/static/images/exchange-package.png" />

    <!--DEFAULT_GAME_THUMBNAIL_URL-->
    <add key="DEFAULT_GAME_THUMBNAIL_URL" value="/static/images/game-thumbnail.png" />

    <!--MAIL Teamplate-->
    <add key="WelcomeMessageTemplate" value="Views\\TemplateEmail\\WelcomeMessageTemplate.cshtml" />
    <add key="ResetPasswordTemplate" value="Views\\TemplateEmail\\ResetPasswordTemplate.cshtml" />
    <add key="SupportTemplate" value="Views\\TemplateEmail\\SupportTemplate.cshtml" />
    <add key="InvoiceTemplate" value="Views\\TemplateEmail\\Invoice.cshtml" />
    <add key="FriendRequestTemplate" value="Views\\TemplateEmail\\SentFriendRequestTemplate.cshtml" />
    <!--end teamplate-->
  </appSettings>

  <!--PAYPAL CONFIG-->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AZH2B67xjTOcR6lBAPo-5FMmsxyxsTQ05D9MOOpAClIHfUKDGYIhUycUp97887CRuU-KEDzcNjiFLkMD" />
      <add name="clientSecret" value="EOWGy1_HOgUU0MF0t_tCnbMiAGWae2n5EIA5FPlhqkQCayqGAaXbmoMJe6xTaXbIw4bcOu3EMuHlghfj" />
    </settings>
    <accounts>
      <account apiUsername="quochuy298-facilitator_api1.gmail.com" apiPassword="752MNL5SPTJEHKCV" apiSignature="Arv7GT6UbebpR0fWIVBolqS-I.FZAGwVuBSYq0Ab362bUOmm2b3OW00C" applicationId="APP-80W284485P519543T" />
    </accounts>
  </paypal>

  <log4net debug="true">
    
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="viet@gtoken.com,huy@gtoken.com" />
      <from value="restaurantgdine@gmail.com" />
      <subject value="Error on GOPLAY" />
      <smtpHost value="smtp.gmail.com" />
      <port value="587"/>
      <authentication value="Basic" />
      <username value="restaurantgdine@gmail.com"/>
      <password value="GD1neRestaurant"/>
      <EnableSsl value="true" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>

  </log4net>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <!--Email Setting -->
    <mailSettings>
      <!--<smtp from="welcome@goplay.la">
        <network host="email-smtp.us-west-2.amazonaws.com" password="AhsoupZ2PCsc9Rf7P1oPPnhYEXo0b6c6zyiZpiUkfURu" port="587" userName="AKIAIDCAKL5JYQMYAWUQ" enableSsl="true" />
      </smtp>-->
      <smtp from="no-reply@no-reply.com">
        <network host="smtp.gmail.com" password="GD1neRestaurant" port="587" userName="restaurantgdine@gmail.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    <!--<httpErrors errorMode="Detailed" />-->
    <modules>
      <remove name="FormsAuthentication" />
    </modules>



    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
      <error statusCode="500" responseMode="ExecuteURL" path="/Error/Error" />
    </httpErrors>-->

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SuzyServiceSoap" />
        <binding name="MMWSSoap" />
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="MMWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>-->
    </bindings>
    <client>
      <endpoint address="http://playfurygameserver1easia.cloudapp.net/SuzyService.asmx" binding="basicHttpBinding" bindingConfiguration="SuzyServiceSoap" contract="SuzyService.SuzyServiceSoap" name="SuzyServiceSoap" />
      <endpoint address="http://playfuryservereasia.cloudapp.net/MMWS.asmx" binding="basicHttpBinding" bindingConfiguration="MMWSSoap" contract="MineManiaService.MMWSSoap" name="MMWSSoap" />
      <!--<endpoint address="http://playfuryservereasia.cloudapp.net/MMWS.asmx"
        binding="customBinding" bindingConfiguration="MMWSSoap12" contract="MineManiaService.MMWSSoap"
        name="MMWSSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>