@import "settings";

.content {
	h1 {
		font-size: 24px;
		line-height: 1.4;
		margin-bottom: 40px;
		color: $strong-color;

		@media #{$medium-up} {
			font-size: 28px;
		}
	}
	h2 {
		font-size: 20px;
		color: $primary-color;
		margin-bottom: 20px;

		@media #{$medium-up} {
			font-size: 28px;
		}
	}
	h3 {
		font-size: 24px;
		color: $primary-color;

		@media #{$medium-up} {
			font-size: 24px;
		}
	}
}