@import "settings";
@import "partials/panels";
@import "partials/form-elements";
@import "partials/buttons";

body {
    // background-color: #f6f6f6;
}

h3.form-header {
    text-transform: uppercase;
    color: $primary-color;
    font-weight: bold;
    padding: 20px 0;
    font-size: 34px;
}

form {
    [type="submit"] {
        margin-top: 1.25em;
        margin-bottom: 0.5em;
    }
    a.highlight-link {
        // color: #18a3ee;
        position: absolute;
        right: 20px;
        top: 0;
        padding: 0.5rem;
        font-size: 14px;
    }
    
    small {
        font-size: 0.75rem;
        &.label {
            color: $secondary-color;
            background-color: transparent;
            font-size: 0.75rem;
            font-style: normal;
            line-height: 1;
            margin-bottom: 0;
            position: absolute;
            bottom: 12px;
            left: 0;
            padding: 0 25px;
            background: transparent;
            
            &.info {
                color: $info-color;
                background-color: transparent;
            }
            &.alert {
                color: $alert-color;
                background-color: transparent;
                
            }
            &.success {
                color: $success-color;
                background-color: transparent;
            }
            
        }
    }

    &.with-label {
        small.label {
            bottom: 3px;
        }
    }
}