
@{
    ViewBag.Title = Resources.Resources.News;
}

@section page_stylesheets{

<link rel="stylesheet" href="/static/stylesheets/static_pages.css" />
}
<section class="news-wrapper">
    <div class="row">
        <div class="large-12 columns">
            <div class="sect-title-bar">
                <h6 class="sect-title">@Resources.Resources.PlayToken_News</h6>
                <p> - @Resources.Resources.Get_to_know_more_about_us</p>
            </div>
            <div class="sect-panel news-content">
                <img class="wow fadeInUp animated" data-wow-delay="0.3s" src="/static/images/news/news_1.jpg" alt="">
                <h4>CEO at School of Interactive</h4>
            </div>
            <div class="sect-end-bar">
            </div>
        </div>
    </div>
</section>
}
