.icon {
	display: inline-block;
	line-height: inherit;
	vertical-align: baseline;
	// background-image: none;
	// background-position: 0 0;
	// background-repeat: repeat;

	&.facebook {
		background:url(../images/icon-facebook.png) center center no-repeat;
		width: 20px;
		height: 20px;

		&:hover {
			background-image: url(../images/icon-facebook-hover.png);
		}
	}
	&.twitter {
		background:url(../images/icon-twitter.png) center center no-repeat;
		width: 20px;
		height: 20px;
		&:hover {
			background-image: url(../images/icon-twitter-hover.png);
		}
	}
	&.account {
		background:url(../images/icon-account.png) center center no-repeat;
		width: 20px;
		height: 20px;
		&:hover {
			background-image: url(../images/icon-account-hover.png);
		}
	}
}

.icon-phone {
	background:url(../images/icon-phone.png) left center no-repeat;
	padding-left: 35px;
	height: 25px;
	line-height: 1.6;
}
.icon-skype {
	background:url(../images/icon-skype.png) left center no-repeat;
	padding-left: 35px;
	height: 25px;
	line-height: 1.6;
}
.icon-address {
	background:url(../images/icon-address.png) left center no-repeat;
	padding-left: 35px;
	height: 25px;
	line-height: 1.6;
}