@{
    ViewBag.Title = Resources.Resources.Terms;
}

@section page_stylesheets{

    <link href="~/static/stylesheets/account/terms.css" rel="stylesheet" />
}

<div class="terms">
    <div class="row">
        <h4>TERMS AND CONDITIONS</h4>
        <div class="small-12 small-centered medium-11 medium-centered large-11 large-centered columns">
            <p>
                <strong>User Agreement</strong><br>
                This Agreement is a contract between you and GDine and applies to your use of GDine’s Services. You must read, agree with and accept all of the terms and conditions contained in this Agreement. We may amend this Agreement at any time by posting a revised version on our website. The revised version will be effective at the time we post it. We last modified this Agreement on 24th March 2015.
                <br><br>
                <strong>1. GDine and You</strong><br>
                <strong>1.1 GDine is only a Payment Service Provider.</strong><br><br>

                GDine helps you make payments to and accept payments from third parties. GDine is an independent contractor for all purposes, except that GDine acts as your agent only with respect to the custody of your virtual Sugar Tokens. GDine does not have control of or liability for the products or services that are paid for with our Service. We do not guarantee the identity of any User or ensure that a buyer or a seller will complete a transaction. <br><br>

                <strong>1.2 Intellectual Property.</strong> <br><br>

                "GDine.co", "GDine", and all related logos, products and services described in our website are either trademarks or registered trademarks of GDine. You may not copy, imitate or use them without GDine prior written consent. In addition, all page headers, custom graphics, button icons, and scripts are service marks, trademarks, and/or trade dress of GDine. You may not alter, modify or change these HTML logos in any way, use them in a manner that is disparaging to GDine or the Service or display them in any manner that implies GDine’s sponsorship or endorsement.
                <br><br>

                <strong>1.3 Assignment.</strong> <br><br>

                You may not transfer or assign any rights or obligations you have under this Agreement without GDine’s prior written consent. GDine reserves the right to transfer or assign this Agreement or any right or obligation under this Agreement at any time. <br><br>

                <strong>1.4 Notices to You.</strong> <br><br>

                You agree that GDine may provide notice to you by posting it on our website or emailing it to the email address listed in your GDine Profile. GDine reserves the right to close your GDine account if you withdraw your consent to receive electronic communications. <br><br>

                <strong>1.5 Your Privacy.</strong> <br><br>

                Protecting your privacy is very important to GDine. Please review our Privacy Policy in order to better understand our commitment to maintaining your privacy, as well as our use and disclosure of your Information. <br><br>

                <strong>1.6 Privacy of Others.</strong> <br><br>

                If you receive Information about another GDine User through the Service, you must keep the Information confidential and only use it in connection with the Service. You may not disclose or distribute a GDine User's Information to a third party or use the Information for marketing purposes unless you receive the User's express consent to do so.  <br><br>

                <strong>2. Eligibility and Verification</strong> <br><br>

                You authorize GDine, directly or through third parties, to make any inquiries we consider necessary to validate your identity. This may include asking you for further information, requiring you to take steps to confirm ownership of your email address and verifying your Information against third party databases or through other sources. <br><br>

                <strong>3. Using Sugar Tokens</strong><br>
                <strong>3.1 Charging of Sugar Tokens to your GDine account.</strong> <br>

                Users are to charge their Sugar Tokens into personal or authorize GDine which is registered having abided by the User Agreement. GDine will not be held responsible and/or carry out rectification should we deem that the Sugar Tokens are charged misappropriated or by errors resulting from Users misapplication during charging process or practices.
                <br><br>

                <strong>3.2 Charging Limits.</strong> <br>

                We may, at our discretion, impose limits on the amount of Sugar Tokens you can charge into your GDine account. <br><br>

                <strong>3.3 Purchasing using Sugar Tokens.</strong> <br><br>

                Payment and transactions to participating merchants affiliated to GDine will be conducted solely between the GDine account holder of the GDine account and the transacting merchant. Payment in form of Sugar Tokens will be deducted from the participating User’s GDine account as and when the transaction is successful. Refer to 3.4 should the Transaction be refused.  <br><br>

                <strong>3.4 Default Transaction Sources.</strong> <br><br>

                When you make a payment, Sugar Tokens will be deducted from your registered GDine account directly. If there are insufficient Sugar Tokens in your GDine account, transaction will be denied. <br><br>

                <strong>3.5 Refused Transaction.</strong> <br><br>

                When you conduct a transaction, the recipient is not required to accept it. You agree that you will not hold GDine liable for any damages resulting from a recipient's decision not to accept the transaction made through the Service.
                <br><br>

                <strong>3.6 Merchant Processing Delay.</strong> <br><br>

                When you send a payment to certain merchants, you are providing an Authorization to the merchant to process your payment and complete the transaction. The payment will be held as pending until the merchant processes your payment. Some merchants may delay processing your payment. In such an instance, your Authorization will remain valid for up to 30 Days. <br><br>

                <strong>4. GDine account Balances.</strong><br>
                <strong>4.1 Balances.</strong> <br>
                You do not need to maintain a Balance in your GDine account in order to possess a GDine account. If there is a Balance in your GDine account, it will expire in 365 days pending on the date when the Sugar Tokens has been purchased and charged into the GDine account. <br><br>

                <strong>4.2 Refund Policy.</strong>&nbsp;<br><br>

                All unused balances are not refundable nor returnable.&nbsp;<br>

                <strong>5. Closing Your GDine account.</strong><br>
                <strong>5.1 How to Close Your GDine account.</strong><br><br>

                Upon registration for a GDine account, Users will not be allowed to close their GDine account. GDine will exercise discretion in maintaining and making available of information of the GDine account for investigation if any. Users may however make limited changes to specific GDine account particulars deem non-conflicting with the Privacy Policies and Users Agreement subjected to approval of GDine at sole discretion. Should a GDine account be terminated on basis of special circumstances, User of the terminated GDine account will remain liable for all obligations related to the GDine account even after it is closed.
                <br><br>

                <strong>5.2 Dormant GDine account.</strong><br><br>

                GDine will not close any dormant GDine account for indefinite period. Sugar Tokens left in Balance will expire in 365 days pending on the date when the Sugar Tokens has been purchased and charged into the GDine account. <br><br>

                <strong>5.3 Termination of GDine account.</strong><br><br>

                Should a GDine account be terminated in relation to clause 5.1, 6 &amp; 7, there will be no refund of Sugar Tokens given or provided to the involved, User or third parties.<br><br>

                <strong>6. Restricted Activities.</strong> <br><br>

                Restricted Activities. In connection with your use of our website, your GDine account, or the Services, or in the course of your interactions with GDine, a User or a third party, you will not:<br><br>

                (a) Breach this Agreement, the Users Agreement and any other Agreements that you have entered into with GDine (including a Policy);<br><br>

                (b) Violate any law, statute, ordinance, or regulation (for example, those governing financial services, consumer protections, unfair competition, anti-discrimination or false advertising);<br><br>

                (c) Infringe GDine or any third party's copyright, patent, trademark, trade secret or other intellectual property rights, or rights of publicity or privacy;<br><br>

                (d) Act in a manner that is defamatory, trade libellous, unlawfully threatening or unlawfully harassing;<br><br>

                (e) Provide false, inaccurate or misleading Information;<br><br>

                (f) Send or receive what we reasonably believe to be potentially fraudulent funds;<br><br>

                (g) Refuse to cooperate in an investigation or provide confirmation of your identity or any Information you provide to
                us;<br><br>

                (h) Attempt to "double dip" during the course of a dispute by receiving or attempting to receive funds from both GDine and Merchants for the same transaction.<br><br>

                (i) Use an anonymizing proxy;<br><br>

                (j) Control a GDine account that is linked to another GDine account that has engaged in any of these Restricted Activities.
                <br><br>

                (k) Conduct your business or use the Services in a manner that results in or may result in complaints,<br><br>

                (l) Use your GDine account or the Services in a manner that GDine, reasonably believe to be an abuse of the GDine system or a violation of E-Payment and billing solutions.<br><br>

                (m) Access the Services from a country that is not included on GDine permitted countries list.<br><br>

                (n) Disclose or distribute another User's Information to a third party, or use the Information for marketing purposes
                unless you receive the User's express consent to do so;<br><br>

                (o) Send unsolicited email to a User or use the Services to collect payments for sending, or assisting in sending,
                unsolicited email to third parties;<br><br>

                (p) Take any action that imposes an unreasonable or disproportionately large load on our infrastructure;<br><br>

                (q) Facilitate any viruses, Trojan horses, worms or other computer programming routines that may damage, detrimentally
                interfere with, surreptitiously intercept or expropriate any system, data or Information;<br><br>

                (r) Use any robot, spider, other automatic device, or manual process to monitor or copy our website without our prior
                written permission;<br><br>

                (s) Use any device, software or routine to bypass our robot exclusion headers, or interfere or attempt to interfere,
                with our website or the Services;<br><br>

                (t) Take any action that may cause us to lose any of the services from our internet service providers, payment
                processors, or other suppliers.<br><br>

                <strong>7. Liability Disclaimers</strong><br>
                <strong>The Material contained in this Web Site, (including text, images, graphics, links, sound files, animation files, video files or other items and their arrangement) are provided "as is", "as available". GDine does not warrant the accuracy, adequacy or completeness of these Materials.</strong> <br><br>

                <strong>7.2 No warranty of any kind, implied, expressed or statutory, including but not limited to the warranties of non-infringement of the third party's rights, title, satisfactory quality, merchantability, fitness for any particular purpose and freedom from any computer virus or other malicious, destructive or corrupting code, programmed or macro, is given in conjunction with the information and materials contained in or linked to GDine.</strong> <br><br>

                <strong>7.3 GDine may include publications with technical inaccuracies or typographical errors that will be corrected as they are discovered at GDine’s sole discretion. Also, changes are periodically added to the material contained herein. These corrections and changes may be incorporated into the Web Site at a later date. GDine may at any time make modifications, improvements and/or changes to these Terms and Conditions and the material (names, images, pictures, logo and icons) displayed on the Web Site or products and services referred to within, with or without notice. Advice received via this Web Site should not be relied upon for personal, legal or financial decisions and you should consult an appropriate professional for specific advice tailored to your situation.</strong> <br><br>

                <strong>7.4 GDine shall in no event be liable for any damages, loss or expense including without limitation, special damage, or consequential damage, or economic loss arising from or in connection with:</strong><br><br>

                (a) any access, use or the delay or inability to access or use of GDine Services, or reliance on the Materials and/or any other information contained related to GDine Services;<br><br>

                (b) any system, server or connection failure, error, omission, interruption, delay in transmission, or computer
                failure;<br><br>

                (c) any use of or access to any other web site linked to this GDine.co;<br><br>

                (d) any services, products, information, date, software or other material obtained from this GDine.co or from any other web site linked to this Web Site.<br><br>

                <strong>8. Your Liability - Actions We May Take.</strong><br>
                <strong>8.1 Actions by GDine. If you engage in any Restricted Activities, we may take various actions to protect GDine, a User, a third party, or you from, Claims, fees, fines, penalties and any other liability. The actions we may take include but are not limited to the following:</strong> <br><br>

                (a) We may close, suspend, or limit your access to your GDine account or the Services (such as limiting access to any of your Sugar Tokens, and your ability to Charge Sugar Tokens, make purchases, or remove personal Information);<br><br>

                (b) We may update inaccurate Information you provided us;<br><br>

                (c) We may refuse to provide our Services to you in the future;<br><br>

                (d) We may take legal action against you.<br><br>

                <strong>8.2 GDine, in its sole discretion, reserves the right to terminate this Agreement, access to its website, or access to the Service for any reason.</strong> <br><br>

                <strong>8.3 GDine account Closure, Termination of Service, or Limited GDine account Access. If we close your GDine account or terminate your use of our Services for any reason, we will provide you with notice of our actions. If we limit access to your GDine account, we will provide you with notice of our actions and the opportunity to request restoration of access if appropriate.</strong><br><br>

                <strong>9. Errors and Unauthorized Transactions.</strong><br>
                <strong>9.1 Identifying Errors and/or Unauthorized Transactions.</strong> <br><br>

                You can inspect your transaction history at any time by logging in to your GDine account on the GDine website and clicking the "History" tab. It is very important that you immediately notify GDine if you have reason to believe any of the following activities have occurred:<br><br>

                (a) There has been an unauthorized transaction from your GDine account;<br><br>

                (b) There has been an unauthorized access to your GDine account;<br><br>

                (c) Your password for your GDine account has been compromised;<br><br>

                (d) Someone has transferred or may transfer money using your GDine account without your permission.<br><br>

                <strong>9.2 Notifying GDine of Errors and/or Unauthorized Transactions.</strong><br><br>

                To notify us if you believe there has been or will be an error or unauthorized transaction on your GDine account contact us through customer support.<br><br>

                <strong>9.3 Review of Reports of Errors and/or Unauthorized Transactions.</strong><br><br>

                We will advise you of the results of our investigation within 2 Business Days after we receive your notice. If we have
                made an error, we will correct it promptly. If we need more time, however, we may take up to 7 Days to investigate
                your complaint or question.<br><br>

                At the end of our investigation, we will advise you of the results within 2 Business Days. If we determine that there
                was no error, we will send you a written explanation.<br><br>

                <strong>9.4 Liability for Unauthorized Transactions.</strong> <br><br>

                Reimbursement of Sugar Tokens or Monies due to Improper GDine account Access related to your GDine account (Hacking, compromise of security, compromise of personal information) will not be entertained. GDine account holders will hold full responsibility to safeguarding the security of the individual’s GDine account.<br><br>

                <strong>9.5 Errors.</strong> <br><br>

                If we discover a processing error, we will rectify the error. If the error resulted in Sugar Tokens not deducted for a payment of service or goods, GDine will deduct the amount appropriately. If the error result in Sugar Tokens deducted but no goods or services received, GDine will investigate and advice the Merchant and User accordingly.<br><br>

                If the error resulted in our not completing a transaction on time or in the correct amount, rectify the situation promptly, unless:<br><br>

                (a) Through no fault of ours, you did not have enough available Sugar Tokens to complete the transaction,<br><br>

                (b) Our system was not working properly and you knew about the breakdown when you started the transaction, or<br><br>

                (c) Circumstances beyond our control (such as fire or flood or loss of Internet connection) prevented the transaction, despite our reasonable precautions.<br>
                <strong>10. Disputes with GDine.</strong><br>
                <strong>10.1 Contact GDine First.</strong> <br><br>

                If a dispute arises between you and GDine, will be glad to assist and direct your concerns to solving your problems. Such disputes encompass GDine Services only, non-related to Merchant Services. Disputes between you and GDine regarding our Services may be reported to Customer Service online. <br><br>

                <strong>10.2 Contact the Merchant.</strong> <br><br>

                If a dispute arises between you and the Merchant regarding their goods and services, kindly approach the Merchant directly for advice. Should the dispute implicate GDine Services, we will assist in the solving the dispute with the Users and Merchants promptly. <br><br>

                <strong>10.3 No Waiver.</strong> <br><br>

                Our failure to act with respect to a breach by you or others does not waive our right to act with respect to subsequent or similar breaches. <br><br>

                <strong>10.4 Limitations of Liability. </strong><br><br>

                IN NO EVENT SHALL WE, OUR PARENT, EMPLOYEES OR OUR SUPPLIERS BE LIABLE FOR LOST PROFITS OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH OUR WEB SITE, OUR SERVICE, OR THIS AGREEMENT (HOWEVER ARISING, INCLUDING NEGLIGENCE OUR LIABILITY, AND THE LIABILITY OF OUR PARENT, EMPLOYEES AND SUPPLIERS, TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO THE ACTUAL AMOUNT OF DIRECT DAMAGES. <br><br>

                <strong>10.5 No Warranty. </strong><br><br>

                GDine, OUR PARENT, EMPLOYEES AND OUR SUPPLIERS PROVIDE OUR SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. GDine, OUR PARENT, EMPLOYEES AND OUR SUPPLIERS SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. <br><br>

                GDine does not have any control over the products or services that are paid for with our Service and GDine cannot ensure that a buyer or a seller you are dealing with will actually complete the transaction. <br><br>

                GDine does not guarantee continuous, uninterrupted or secure access to our Service, and operation of our site may be interfered with by numerous factors outside of our control. <br><br>

                GDine will make reasonable efforts to ensure that requests and transaction involving the use of GDine Physical Scratch Cards and Merchants’ transaction mechanism (E-payments) involving GDine are processed in a timely manner but GDine makes no representations or warranties regarding the amount of time needed to complete processing because our Service is dependent upon many factors outside of our control, such as technical difficulties experienced by GDine’s Internet Providers, User’s Internet Providers as well as other online third parties involvement in internet functionality. Some countries do not allow the disclaimer of implied warranties, so the foregoing disclaimers may not apply to you. This paragraph gives you specific legal rights and you may also have other legal rights that vary from countries to countries. <br><br>

                <strong>10.7 Indemnification.</strong> <br><br>

                You agree to defend, indemnify and hold GDine, its parent, officers, directors and employees harmless from any claim or demand (including attorneys' fees) made or incurred by any third party due to or arising out of your breach of this Agreement and/or your use of the Services. <br><br>

                <strong>10.8 Complete Agreement.</strong> <br><br>

                This Agreement sets forth the entire understanding between you and GDine with respect to the Service. Sections 1, 7, 10 and 14, as well as any other terms which by their nature should survive, will survive the termination of this Agreement. If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. <br><br>

                <strong>11. Definition </strong><br><br>

                With reference to the User Agreement: <br><br>

                GDine:<br>
                • The company, GToken Pte Ltd providing E-payment solutions using Physical Scratch Cards as an alternative to
                conventional use of Credit Cards of Debit Cards. <br><br>

                Sugar Tokens:<br>
                • Sugar Tokens is a virtual credit used for transaction between the User of the GDine account and Merchants for online purchases. Sugar Tokens is operated solely and exclusively by GToken Ltd. <br><br>

                GDine account:<br>
                • Users who intend to use GDine to make purchases online with related merchants must register a GDine account. Sugar Tokens charged into the GDine account can be used to make online payments. GDine account can be considered as an electronic online account. <br><br>

                Merchants<br>
                • Related Partners and Merchants can apply to GDine for the use of our online payment facilities to enhance and promote their products and services.<br><br>
            </p>
        </div>
    </div>
</div>
